<!--
Шаблон футера сайта
-->

<!-- Основной блок футера -->
<section class="footer-section">
  <!-- ===== Каталог ===== -->
  <div class="footer__links-container" id="catalog_container">
    <!-- Заголовок раздела -->
    <p class="text__button">Каталог</p>

    <!-- Ссылки на категории -->
    <div class="links-container__links-section">
      <a
        href="/pages/catalog.html?category=hudozhnikam"
        class="text__body-smaller"
      >
        Художественные товары
      </a>

      <a href="/pages/catalog.html?category=shite" class="text__body-smaller">
        Шитье
      </a>

      <a
        href="/pages/catalog.html?category=vyshivanie"
        class="text__body-smaller"
      >
        Вышивание
      </a>

      <a
        href="/pages/catalog.html?category=vyazanie"
        class="text__body-smaller"
      >
        Вязание
      </a>

      <a
        href="/pages/catalog.html?category=valyanie"
        class="text__body-smaller"
      >
        Валяние
      </a>

      <a href="/pages/catalog.html?category=lepka" class="text__body-smaller">
        Лепка
      </a>

      <a
        href="/pages/catalog.html?category=skrapbuking"
        class="text__body-smaller"
      >
        Скрапбукинг
      </a>

      <a href="/pages/catalog.html?category=biser" class="text__body-smaller">
        Бисероплетение
      </a>

      <a
        href="/pages/catalog.html?category=dekorirovanie"
        class="text__body-smaller"
      >
        Декорирование
      </a>

      <a
        href="/pages/catalog.html?category=mylovarenie"
        class="text__body-smaller"
      >
        Мыловарение
      </a>

      <a
        href="/pages/catalog.html?category=svechevarenie"
        class="text__body-smaller"
      >
        Свечеварение
      </a>

      <a
        href="/pages/catalog.html?category=floristika"
        class="text__body-smaller"
      >
        Флористика
      </a>

      <a
        href="/pages/catalog.html?category=epoksidnaya-smola"
        class="text__body-smaller"
      >
        Эпоксидная смола
      </a>

      <a
        href="/pages/catalog.html?category=culinaria"
        class="text__body-smaller"
      >
        Кулинария
      </a>

      <a href="/pages/catalog.html?category=podarki" class="text__body-smaller">
        Подарки
      </a>

      <a
        href="/pages/catalog.html?category=dlya-detey"
        class="text__body-smaller"
      >
        Для детей
      </a>

      <a
        href="/pages/catalog.html?category=kancelaria"
        class="text__body-smaller"
      >
        Канцелярия
      </a>

      <a
        href="/pages/catalog.html?category=tematika"
        class="text__body-smaller"
      >
        Тематические подборки
      </a>
    </div>
  </div>

  <!-- ===== Блог ===== -->
  <div class="footer__links-container">
    <p class="text__button">Блог</p>

    <div class="links-container__links-section">
      <a href="/pages/blog.html?type=article" class="text__body-smaller">
        Статьи
      </a>

      <a href="/pages/blog.html?type=news" class="text__body-smaller">
        Новости
      </a>

      <a href="/pages/blog.html?type=tutorial" class="text__body-smaller">
        Уроки
      </a>
    </div>
  </div>

  <!-- ===== Помощь ===== -->
  <div class="footer__links-container">
    <p class="text__button">Помощь</p>

    <div class="links-container__links-section">
      <!-- Ссылка открытия окна регистрации -->
      <a href="#" id="footer__open-register" class="text__body-smaller">
        Регистрация
      </a>

      <!-- Ссылка открытия окна входа -->
      <a href="#" id="footer__open-login" class="text__body-smaller"> Вход </a>
    </div>
  </div>

  <!-- ===== О проекте ===== -->
  <div class="footer__links-container">
    <p class="text__button">О проекте</p>

    <div class="links-container__links-section">
      <a href="/pages/about-project.html" class="text__body-smaller">
        Все о проекте
      </a>

      <a href="/pages/about-author.html" class="text__body-smaller">
        О создательнице проекта
      </a>
    </div>
  </div>

  <!-- ===== Обратная связь ===== -->
  <div class="footer__links-container">
    <p class="text__button">Обратная связь</p>

    <div class="links-container__links-section">
      <!-- Ссылка на опрос -->
      <a href="https://forms.gle/N4pZ7XAWfHodoPvVA" class="text__body-smaller">
        Опрос о вашем опыте
      </a>

      <!-- Ссылка на контакты -->
      <a href="/pages/contacts.html" class="text__body-smaller"> Контакты </a>

      <!-- Иконки соцсетей -->
      <div class="links-section__icons">
        <!-- Вконтакте -->
        <a
          href="https://vk.com/tchnnu_dts"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="icon"
            src="/static/assets/icons/icon_VK.svg"
            alt="Вконтакте"
          />
        </a>

        <!-- Почта -->
        <a href="mailto:liliesch55@gmail.com">
          <img
            class="icon"
            src="/static/assets/icons/icon_Gmail.svg"
            alt="Gmail"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Нижняя часть футера -->
<section class="footer-section">
  <!-- Информация об авторе -->
  <div class="footer__legal-information">
    <p class="text__small-text">
      Проект сделан студенткой Садыковой Лилией. 2026 год.
    </p>
  </div>
</section>

<!-- Скрипт открытия поп-апов авторизации -->
<script>
  // Открытие окна регистрации
  document
    .getElementById("footer__open-register")
    ?.addEventListener("click", function (e) {
      e.preventDefault();

      // Получение элементов окна регистрации
      var popup = document.getElementById("popup__register");
      var overlay = document.getElementById("auth-overlay");

      // Проверка существования элементов
      if (popup && overlay) {
        overlay.style.display = "flex";

        popup.style.display = "flex";
        popup.style.flexDirection = "column";
      }
    });

  // Открытие окна входа
  document
    .getElementById("footer__open-login")
    ?.addEventListener("click", function (e) {
      e.preventDefault();

      // Получение элементов окна входа
      var popup = document.getElementById("popup__login");
      var overlay = document.getElementById("auth-overlay");

      // Проверка существования элементов
      if (popup && overlay) {
        overlay.style.display = "flex";

        popup.style.display = "flex";
        popup.style.flexDirection = "column";
      }
    });
</script>
