<!--
Шаблон карточки отзыва
-->

<template class="review-card">
  <!-- Верхняя часть отзыва -->
  <div class="review-info">
    <div class="review-card__user-info">
      <!-- Аватар пользователя -->
      <img id="user__profile-avatar" src="" />

      <!-- Информация о пользователе -->
      <div class="user-info__review-details">
        <!-- Имя пользователя -->
        <p class="text__body-smaller" id="user__first-name"></p>

        <!-- Блок рейтинга -->
        <div class="review__star-count">
          <img
            src="../assets/icons/icon_star-filled_gray.svg"
            id="product-rating-1"
          />

          <img
            src="../assets/icons/icon_star-filled_gray.svg"
            id="product-rating-2"
          />

          <img
            src="../assets/icons/icon_star-filled_gray.svg"
            id="product-rating-3"
          />

          <img
            src="../assets/icons/icon_star-filled_gray.svg"
            id="product-rating-4"
          />

          <img
            src="../assets/icons/icon_star-filled_gray.svg"
            id="product-rating-5"
          />
        </div>
      </div>

      <!-- Дата публикации -->
      <p class="text__body-smaller" id="review__post-date">ДД.ММ.ГГГГ</p>
    </div>
  </div>

  <!-- Текст отзыва -->
  <div class="review-content">
    <p class="text__body-smaller" id="review__content"></p>
  </div>
</template>
