/* 
=========
Стили страницы смены пароля
=========
Файл отвечает за:
- расположение элементов формы,
- оформление блока смены пароля,
- размеры полей ввода и кнопок,
- адаптацию формы под разные экраны
*/

/* Верхняя часть страницы */
.change-password__top {
    margin-top: 20px;
    width: 100%;
}

/* Основной контейнер страницы */
.change-password__main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

/* Блок полей ввода */
.change-password__text-inputs,

/* Кнопка отправки формы */
.change-password__main button {

    /* Ограничение ширины формы */
    width: min(480px, 100%);
}