/* 
=========
Стили блока после генерации идеи
=========
Файл отвечает за:
- расположение кнопок после генерации,
- отображение действий пользователя,
- адаптацию кнопок под мобильные устройства
*/

/* Контейнер кнопок */
.generator-chat-after-gen {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    /* Мобильная версия */
    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
}